{% extends 'base.html.twig' %}

{% block title %}Modifier l'emploi du temps{% endblock %}

{% block body %}

<div class="schedule-container">
    <h2>Emploi du temps - {{ schedule.date |format_datetime('medium', 'none', locale: 'fr')}}</h2>
    <form action="{{ path('app_dashboard_edit', {id: schedule.id}) }}" method="POST">
        {{ form_start(form) }}
        <div class="input-group">
            <label for="title">Titre</label>
            {{ form_widget(form.title) }}
        </div>
        <div class="input-group">
            <label for="day">Jour</label>
            {{ form_widget(form.day) }}
        </div>
        <div class="input-group">
            <label for="date">Date</label>
            {{ form_widget(form.date) }}
        </div>
        <div class="input-group">
            <div>
                <label for="morning">Matin - Matière</label>
                {{ form_widget(form.morning_subject) }}
            </div>
            <div>
                <label for="morning">Matin - Professeur associé(e)</label>
                {{ form_widget(form.morning_teacher) }}
            </div>
        </div>
        <div class="input-group">
            <div>
                <label for="morning">Après-midi - Matière</label>
                {{ form_widget(form.afternoon_subject) }}
            </div>
            <div>
                <label for="morning">Après-midi - Professeur associé(e)</label>
                {{ form_widget(form.afternoon_teacher) }}
            </div>
        </div>
        <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}